@import './main.scss';

.homefoursteps {
    height: 80vh;
    width: 100vw;

    .steps__title {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 2.375rem;
            color: $darkgray;
            margin: 2rem 0;
        }
    }

    .steps__icons {
        height: 45%;
        width: 100%;
        background-color: $lightgray;

        .icons-container {
            width: 55%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;

            .column {
                width: 16%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .icon {
                    margin-bottom: 0.5rem;
                }

                .title {
                    font-size: 1.125rem;
                    color: $darkgray;
                    padding-bottom: 0.5rem;
                    border-bottom: 0.75px solid $gray;
                    line-height: 1.5rem;
                }

                .content {
                    font-size: 1rem;
                    color: $darkgray;
                    padding-top: 1rem;
                    line-height: 1rem;
                }
            }
        }
    }

    .steps__button {
        height: 25%;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .steps-button {
            border: 0.75px solid $gray;
            padding: 1.5rem 5rem;
            text-align: center;

            .button {
                text-decoration: none;
                color: $darkgray;
                text-transform: uppercase;
                font-size: 2.25rem;
                line-height: 2.5rem;
            }
        }
    }
}