@import './main.scss';

.contactfooter {
    height: 100vh;
    width: 100%;
    margin-top: 3rem;
    background-image: url('../assets/assets/assets/Background-Contact-Form.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -5rem;

}